.results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    /* justify-content: center; */
}

.listItem {
    display: flex;
    flex-direction: column;
    width: 18vw;
    height: auto;
    margin: 3px;
    padding: 3px;

    justify-content: center;

    border-radius: 5px;
    border: solid 3px var(--detail-color);
    background-color: white;
    box-shadow: 0px 0px 5px -2px black;
}

.searchTitle {
    display: flex;
    font-size: 25px;
  
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin: 20px;
}